@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&family=Saira+Stencil+One&display=swap');
*{
  padding:0 ;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
}
#root{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e5e5e5e8;
}
form{
  display: flex;
  flex-direction: column;
  gap: 13px;
}
input{
  width: 326px;
  height: 58px;
  background: #FFFFFF;
  border-radius: 5px;
  border: none;
}
::-webkit-input-placeholder  { 
  padding: 14px;
  font-size: 20px;;
  color: #000000;
 }
button{
  width: 326px;
  height: 46px;
  background: #A328D6;
  border-radius: 5px;
  font-size: 20px;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  font-weight: 700;
  }
p{
  margin-top: 32px;
  font-size: 15px;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: 700;
}
.ola{
  background-color: #A328D6;
  width: 350px;
  height: 850px;
}
a{
  color: #FFFFFF;
}
h2{
  font-size: 26px;
  color: #FFFFFF;
}
.titulo{
  width: 326px;
  text-align: left;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  
  color: #FFFFFF;
  font-size: 26px;
}
.mar {
  margin-bottom: 500px;
}
.icon{
  width: 21px;
  height: 21px;
  color: #FFFFFF;
}
 
 